{% extends 'blog-base.html' %}
{% block inner_content %}
<div class="bg-dark" style="background-color: white; position: fixed; right: 0px; border-radius: 6px;" >
  <p class="text-light p-2">ADD:</p>
  <div id="addP-div" ><button type="button" class="btn btn-outline-secondary text-light" style="width: 90px;" id="addP">paragraph</button></div>
  <div id="addH-div" ><button type="button" class="btn btn-outline-secondary text-light" style="width: 90px;" id="addH">subheader</button></div>
  <div id="addImg-div" ><button type="button" class="btn btn-outline-secondary text-light" style="width: 90px;" id="addImg">image</button></div>
  <button class="btn btn-outline-secondary text-light" style="width: 90px;" id="done">Done</button>
</div>
<div class="inner-blog mt-4 mx-4 p-4 bg-light text-dark ">
        <div class="well well-sm" style="left:100px;">
            <pre>How to use:
 Add paragraph, image or subheader wia buttons and change it on the browser.
 Click Done when you're done.
Notes: 
 Don't use - in the title, it will break something. 
 Don't leave image fields empty.
 You can change the title.
 Do not leave title blank.
</pre>
            <div id="page_content">
                <h1 contenteditable="true" id="title" >Title</h1>
            </div>
  </div>
</div>
    
    
<script>
  var DoneButton = document.getElementById("done");
  var preButton = document.getElementById("addP");
  var headerButton = document.getElementById("addH");
  var imageButton = document.getElementById("addImg");
  
  DoneButton.addEventListener("click", done);
  preButton.addEventListener("click", addP);
  headerButton.addEventListener("click", addH);
  imageButton.addEventListener("click", addImg);

  function addP() {
    var p = document.createElement("p");
    p.innerText = 'Text';
    p.contentEditable = true;
    document.getElementById('page_content').appendChild(p);
  }
  function addH() {
    var h = document.createElement("h4");
    h.innerText = 'Subheader';
    h.contentEditable = true;
    document.getElementById('page_content').appendChild(h);
  }
  
  const formData = new FormData();
  let inputIndex = 0;
  function addImg() {
    var input = document.createElement("input");
    input.type = 'file';
    document.getElementById('page_content').appendChild(input);
    
    input.addEventListener("change", function () {
      const reader = new FileReader();
      reader.onload = function () {
        const img = new Image();
        img.src = reader.result;
        img.style.maxWidth = '600px';
        img.style.maxHeight = '300px';
        img.id = `image-${inputIndex}.png`;
        document.getElementById('page_content').appendChild(img);
        input.remove();
        formData.append(`image-${inputIndex}`, dataURLtoBlob(reader.result), `image-${inputIndex}.png`);
        inputIndex += 1;
      };
      reader.readAsDataURL(input.files[0]);
    });
    
  }

function dataURLtoBlob(dataURL) {
  const parts = dataURL.split(";base64,");
  const contentType = parts[0].split(":")[1];
  const raw = window.atob(parts[1]);
  const rawLength = raw.length;
  const uInt8Array = new Uint8Array(rawLength);
  for (let i = 0; i < rawLength; ++i) {
    uInt8Array[i] = raw.charCodeAt(i);
  }
  return new Blob([uInt8Array], { type: contentType });
}
  function done() {
    title = document.getElementById('title').innerText;
    title = title.trimRight();
    title = title.trimLeft();
    title = title.replace(' ','-')
    const children = document.querySelectorAll("#page_content > *");
    
    children.forEach(element => {
      if(element.nodeName === 'P'){
        text = element.innerText;
        formData.append('text',text);
        return;
      }
    });
    
    children.forEach(element => {
      element.contentEditable = false;
      element.src = '../static/'+ 'blog/' +title + '/' + element.id;
    });
    
    html = document.querySelector('#page_content').innerHTML;
  formData.append('title',title)
  formData.append('html',html)
  fetch("/blog/write", {
    method: "POST",
    body: formData
  }).then(response => {
    window.location = '/blog';
  })
    .catch(error => {
      console.error(error);
    });
  }






</script>

{% endblock %}