{% extends "search_page_base.html" %}

{% block content_search_page %}

<main class="border1">

        <h1 class="step2">KEYWORD SEARCH</h1>
        <p>This feature searches for top trending keywords from the description section related to your search terms.</p>
        <section class="search">
            <form>
                <div class="form-group">
                    <label style="width:250px; display:block; margin-left: auto;margin-right: auto;" for="keyword">Search term:</label>
                    <input style="width:250px; display:block; margin-left: auto;margin-right: auto;" type="text" class="step1 form-control" id="keyword" name="keyword">
                    <button style="width:100px; display:block; margin-left: auto;margin-right: auto;" type="button" class="form-control" value="desc" id="search">
                      Search
                    </button>
                    <input type="hidden" id="ft" value="desc"/>
                </div>
            </form>
        </section>
        <div id="spinner" style="display:none">
              <center>
              <img id="img-spinner" src="{{ url_for('static', filename='img/spinner.gif')}}" alt="Loading..."/><br>
              <i id="wait_time">Please note that this may take a while as the algorithm runs through all descriptions across YouTube.</i><br><br><br>
              </center>
            </div>
        <section hidden class="result">

        </section>
    </main>
    <script>

        window.addEventListener('load', (event) => {
            var resourceToGuide = getShowTour('description')

            resourceToGuide.done(function (response) {
                console.log(response);
                if ( response.status ) {
                    tourSearchForDescriptionPage();
                }
            });

        });
    </script>
{% endblock %}
