{% extends "search_page_base.html" %}

{% block content_search_page %}

    <main class="border1 main">

        <h1 class="step2">TAG SEARCH</h1>
        <p>This feature searches for top trending tags related to your keyword.</p>
        <section class="search">
            <form >
                <div text-align="center">
                    <div class="form-group">
                        <label style="width:250px; display:block; margin-left: auto;margin-right: auto;" for="keyword">Search term:</label>
                        <input style="width:250px; display:block; margin-left: auto;margin-right: auto;" type="text" class="step1 form-control" id="keyword" name="keyword">
                        <div class="text-center">
                            <button style="width:100px; display:block; margin-left: auto;margin-right: auto;" type="button" class="form-control universal-btn" value="tag" id="search">
                                Search
                              </button>
                        </div>
                        <input type="hidden" id="ft" value="tag"/>
                    </div>
                </div>
            </form>
        </section>
        <div id="spinner" style="display:none">
              <center>
              <img id="img-spinner" src="{{ url_for('static', filename='img/spinner.gif')}}" alt="Loading..."/><br>
              <i id="wait_time">Please note that this may take a while as the algorithm runs through all tags across YouTube.</i><br><br><br>
              </center>
        </div>
        <section hidden class="result">

        </section>

    </main>

    <script id="tourScript">
        window.addEventListener('load', (event) => {
            var resourceToGuide = getShowTour('tag')

            resourceToGuide.done(function (response) {
                console.log(response);
                if ( response.status ) {
                    tourSearchForTagPage();
                }
            });

        });
    </script>
{% endblock %}
