# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/tnhlabsc/svboost.com"
PassengerBaseURI "/"
PassengerPython "/home/tnhlabsc/virtualenv/svboost.com/3.9/bin/python"
PassengerAppLogFile "/home/tnhlabsc/log/svboost.log"
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteRule ^blog/static/(.*)$ /path/to/static/folder/$1 [L]
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END