<style>
.btnbuild {
  background-color: darkgrey;
  border: none;
  color: white;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

{% extends "search_page_base.html" %}

{% block content_search_page %}
    <main class="border1">
        <h1>AI DESCRIPTION BUILDER</h1>
        <p>This feature aids in building your YouTube description details. This feature will give out <b style="font-weight: bold;">3 description options</b> you can use to rank better on the YouTube algorithm.</p>
        <div class="row">
            <div class="col col-1"></div>
            <div class="col-10 main-center" >
                <section class="search">
                    <form>
                        <h6>You have <span id="token_amount">{{token_amount}}</span> Tokens. Writing a description costs 5 Tokens.</h6>
                        <h6>You can write <span id="description_amount">{{description_amount}}</span> descriptions with AI. </h6> <br>
                        <h6>Key in your topic for the description:</h6>
                        <div>
                            <input style="width: 100%;" type="text" size="" id="keyword" name="keyword">
                            <h6>Key in your keywords that your description should include (Optional)</h6>
                            <input style="width: 100%;" type="text" size="" id="keywords" name="keywords" value="">
                            <button style="width:100px; display:block; margin-left: auto;margin-right: auto;" type="button" class="form-control" value="descbuilder" id="search">
                              Write
                            </button>
                            <div id="spinner" style="display:none" class="mt-2">
                                  <center>
                                  <img id="img-spinner" src="{{ url_for('static', filename='img/spinner.gif')}}" alt="Loading..."/><br>
                                  <i id="wait_time">Please note that this may take a while as the AI generates your description.</i><br><br><br>
                                  </center>

                            </div>
                        </div>
                        <div style="text-align:center;">
                        </div>
                    </form>
                </section>
                <section>
                <div>
                    <div class="result"></div>
                </div>
                </section>
            </div>
            <div class="col col-1">&nbsp;</div>

        </div>
       

    </main>
    <script>
        
        window.addEventListener('load', (event) => {

            get_session_storage()
            });
    </script>
{% endblock %}
