#ai_page_button {
    
    transition-duration: 100ms;
    background-color:yellow;
    margin-bottom:5px;
    font-weight:bold;
    border-radius:5px;
    border: 1px solid black;
    padding:5px;
    box-shadow: none;
}
#ai_page_button:hover {
    transition-duration: 100ms;
    background-color: rgb(249, 249, 121);
    box-shadow: 2px 2px 4px #888888;
}