{% extends 'base.html' %}
{% block head %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartVidBoost</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/solid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/extras.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shepherd.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/SVO_icon2.png') }}" />
	  <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-182398251-16"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-182398251-16');
  </script>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6214dfcdb846610019d3dc11&product=sop' async='async'></script>

{% endblock %}

{% block login_button %}{% endblock %}

{% block content %}
      <section class="hero main-hero-section">
        <div class="container">
          <div class="hero-inner">
  					<div class="hero-copy">
              <h1 class="hero-title mt-0 ml-header">🚀 Boost your Youtube 📹 views for FREE with our 🤖 AI-powered tool!</h1>
                <div class="hero-cta">
                  <a class="universal-btn" href="{{ url_for('main.login_page') }}">Subscribe now for free</a>
                  <a class="universal-outline-btn" href="{{ url_for('main.contact_page') }}">Get in touch</a>
                </div>
				    </div>
				    <div class="hero-figure anime-element">
                
                <iframe id="video" width="530" height="315" src="https://www.youtube.com/embed/sjjNMZtY3dY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				    </div>
          </div>
        </div>
      </section>

      <section class="features section">
        <div class="container">
          <div class="features-wrap" style="max-width: auto;">
            <div class="text-center" style="max-width: auto; margin: 50px 30px;">
                  <p class="text-sm">
                    If you're looking to create a YouTube video that stands out and reaches a wider audience, optimizing your video description with relevant keywords is essential.
                  </p>
                  <p class="text-sm">
                    However, identifying the right keywords and incorporating them into your description can be a time-consuming and challenging process. This is where Svboost comes in. With just two clicks, Svboost can help you create a highly effective and optimized video description that includes the most relevant keywords for your content. Our advanced algorithms and technology make it easy to quickly identify the right keywords and create a description that is both informative and engaging. With Svboost, you can save time and effort while maximizing the potential for success of your YouTube video.
                  </p>
                  <p class="text-sm">
                    With Svboost, you can save time and effort while maximizing the potential for success of your YouTube video.
                  </p>
            </div>
            </div>
            <!--
            <div class="">
              <p class="section-paragraph mb-0 text-center">The SmartVidBoost is an keyword optimization tool for your YouTube videos which will help you increase the quantity and quality of traffic to your online content so it will be shown as a top result for searches of a certain keyword. See all the features below you can get with the SmartVidBoost.</p>
            </div>
            <div class="features-wrap">
              <div class="feature text-center is-revealing">
                <div class="feature-inner">
                  <h4 class="feature-title mt-24">Identify Video Ideas Based on Trending Topics</h4>
                  <p class="text-sm mb-0">This feature helps you find the top topics in your niche that are trending and people are excited about.</p>
                </div>
              </div>
              <div class="feature text-center is-revealing">
                <div class="feature-inner">
                  <h4 class="feature-title mt-24">Search Trending Keywords</h4>
                  <p class="text-sm mb-0">This feature searches for top trending keywords from YouTube related to your search terms.</p>
                </div>
              </div>
              <div class="feature text-center is-revealing">
                <div class="feature-inner">
                  <h4 class="feature-title mt-24">Search Trending Tags</h4>
                  <p class="text-sm mb-0">This feature searches for top trending tags related to your search terms.</p>
                </div>
              </div>
              <div class="feature text-center is-revealing">
                <div class="feature-inner">
                  <h4 class="feature-title mt-24">AI Description Writer</h4>
                  <p class="text-sm mb-0">This feature will simplify the process of writing your YouTube descriptions using AI.</p>
                </div>
              </div>
            </div>
          </div>
        -->
        </div>
      </section>

      <section hidden id="pricingSection" class="pricing section">
        <div class="container-sm">
          <div class="pricing-inner section-inner">
            <div class="pricing-header text-center">
              <h2 class="section-title mt-0">Pricing</h2>
            </div>
			      <div class="pricing-tables-wrap">
              <div class="pricing-table">
                <div class="pricing-table-inner is-revealing">
                  <div class="pricing-table-main">
                    <div class="pricing-table-header pb-24">
                        <div class="pricing-table-price"><span class="pricing-table-price-currency h2">$</span><span class="pricing-table-price-amount h1">0</span><span class="text-xs">/month</span></div>
                    </div>
                    <div class="pricing-table-features-title text-xs pt-24 pb-24">Get 14 days trial, and after:</div>
                    <ul class="pricing-table-features list-reset text-xs">
                      <li>
                        <span> 3 tag searches a day</span>
                      </li>
                      <li>
                        <span>3 description searches a day</span>
                      </li>
                      <li>
                        <span>3 keyword suggestions search a day</span>
                      </li>
                      <li>
                        <span>3 description checker use a day</span>
                      </li>
                      <li>
                        <span>Access to 3 previously saved searches or descriptions built</span>
                      </li>
                    </ul>
                  </div>
                  <div class="pricing-table-cta mb-8">
                      <a class="button button-primary button-shadow button-block" href="{{ url_for('main.login_page') }}">Subscribe Now</a>
                  </div>
                </div>
              </div>
              <div class="pricing-table">
                <div class="pricing-table-inner is-revealing">
                  <div class="pricing-table-main">
                    <div class="pricing-table-header pb-24">
                        <div class="pricing-table-price"><span class="pricing-table-price-currency h2">$</span><span class="pricing-table-price-amount h1">5</span><span class="text-xs">/month</span></div>
                    </div>
                    <div class="pricing-table-features-title text-xs pt-24 pb-24">You will get FULL ACCESS on</div>
                    <ul class="pricing-table-features list-reset text-xs">
                      <li>
                        <span>Keyword Suggestion Search</span>
                      </li>
                      <li>
                        <span>Tag Search</span>
                      </li>
                      <li>
                        <span>Description Search</span>
                      </li>
                      <li>
                        <span>AI Description Writer</span>
                      </li>
                      <li>
                        <span>All saved searches and descriptions</span>
                      </li>
                    </ul>
                  </div>
                  <div class="pricing-table-cta mb-8">
                      <button id="offer1" type="button" class="button button-primary button-shadow button-block" href="#">Subscribe Now</button>
                  </div>
                </div>
              </div>
              <div class="pricing-table">
                <div class="pricing-table-inner is-revealing">
                  <div class="pricing-table-main">
                    <div class="pricing-table-header pb-24">
                        <div class="pricing-table-price"><span class="pricing-table-price-currency h2">$</span><span class="pricing-table-price-amount h1">50</span><span class="text-xs">/annual</span></div>
                    </div>
                    <div class="pricing-table-features-title text-xs pt-24 pb-24">You will get everything from monthly plan plus</div>
                    <ul class="pricing-table-features list-reset text-xs">
                      <li>
                        <span>$10 discount (from $60 to $50)</span>
                      </li>
                    </ul>
                  </div>
                  <div class="pricing-table-cta mb-8">
                      <button type="button" id="offer2" class="button button-primary button-shadow button-block" href="#">Subscribe Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

			<section class="cta section custom-cta-section">
				<div class="container">
					<div class="cta-inner section-inner">
						<div class="cta-inner-content">
              <h3 class="section-title mt-0">Still not convinced?</h3>
						<p class="mt-0">How about you decide after you try our app?</p>
            </div>
						<div class="cta-cta">
							<a class="universal-btn" href="{{ url_for('main.login_page') }}">Try Now</a>
						</div>
					</div>
				</div>
			</section>
{% endblock %}
{% block footer %}
    <footer class="site-footer main-footer">
      <div class="container">
        <div class="site-footer-inner">
          <div class="brand footer-brand">
						<a href="/">
							<img width="200px" height="200px" class="logo-landing" src="{{ url_for('static', filename='img/SVO_icon2.png') }}" alt="Logo">
						</a>
          </div>
          <div class="footer-menu">
            <h3>Quik Links</h3>
            <ul class="footer-links">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/dashboard">Dashboard</a>
              </li>
              <li>
                <a href="/blog">Blog</a>
              </li>
              <li>
                <a href="/contact_page">Contact</a>
              </li>
            </ul>
          </div>
          <div class="footer-info">
            <h3>Contact Us</h3>
            <a href="mailto:contact@smartdevweb.com">contact@smartdevweb.com</a>
          </div>
          <!--
          <ul class="footer-social-links list-reset">
              <div class="sharethis-inline-follow-buttons"></div>
          </ul>
          -->
        </div>
        <div class="copyright text-center">
          <div class="copyright-text">
          <strong>Copyright &copy; 2023 - All Rights Reserved</strong>
          </div>
          <div class="copyright-links">
            <a href="{{ url_for('main.terms_of_service') }}">Terms of Service</a> |
          <a href="{{ url_for('main.privacy_policy') }}">Privacy Policy</a>
          </div>
      </div>
      </div>
    </footer>
  {% endblock %}
  
 


