{% extends 'base.html' %}

{% block content %}
<div class="container" style="background-color: aliceblue;">
    <div>
        <p style="padding-top: 20px;">
            Our pricing model is based on the concept of tokens, where each token is worth 1 cent. For every description we will charge you 5 tokens which equate to 5 cents in real money. To get started with our service, you will need to purchase a minimum of 100 tokens, which equals one dollar. This will give you the ability to create up to 20 descriptions for your YouTube videos, using our description builder tool.
        </p>
        <p style="padding-top: 10px;">
            With our pricing model, you have the flexibility to use your tokens as needed, depending on your specific requirements. For example, if you need to create additional descriptions beyond the initial 20, you can purchase more tokens at any time.
        </p>
        <p style="padding-top: 10px;">
            We believe that our token-based pricing model is an easy and transparent way to manage your expenses, as you only pay for what you use. Additionally, you can easily keep track of your account balance and purchase history within our platform.
        </p>
        <p style="padding-top: 10px;">
            Overall, our pricing model is designed to offer you a cost-effective and convenient solution for creating descriptions for your YouTube videos. We look forward to helping you optimize your content and achieve your goals.
        </p>
    </div>
    <hr>
    <a href="/pricing_page" ><button id="info_go_back">Go Back</button></a>
</div>
{% endblock %}