
{% extends "base.html" %}



{% block content %}
<center>
    <div id="info_page">
        <h4>To learn more about our pricing and how tokens being used: <a id="info_page_link" href="pricing_page/info">Click Here!</a></h4>
    </div>
    <hr>
</center>
<div class="row" id="offers-parent-div">
    {% for offer in offers %}
        <div class="col-sm-4">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                <h5 class="card-title">$ {{offer.price}}</h5><hr>
                <h6 class="card-subtitle mb-2"><span id="amount_of_dollars">{{ offer.token_amount }}</span> Tokens  -  {{ offer.token_amount//5 }} Descriptions</h6>
                <p class="card-text">{{offer.name}}</p>
            </div>
            <button class="btn-cart btnAdd purchase-button">Buy</button>
            </div>
        </div>
    {% endfor %}
    
  </div>

<div class="modal fade row" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span style="color:black;">You need to login first in order to subscribe. <a href="{{ url_for('main.login_page') }}">Login now</a>.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
