{% extends "base.html" %}

{% block content %}
<!--######################## HEADER #########################-->
<header class="h-100">
    <div class="center-vertically-by-padding">

        <h1 class="text-center">Terms of Service</h1>

    </div>
</header>

<!--######################## INTRO #########################-->
<section>
    <div class="container" style="background-color: aliceblue;">
        <div style="padding: 5px;">
    <h3>By accessing our website and services, you agree to these Terms of Use</h3>
    
    <p>In using this website you are deemed to have read and agreed to the following terms and conditions:</p>
     
    <p>Your use of our Internet sites or any of the information, links, products or services offered on those sites (collectively, the “Services”) is subject to these Terms of Use (these “Terms”). SEAnalytics (“SEAnalytics"), at its sole discretion, may change the Terms, conditions and operation of this website (the “Site”) at anytime without notice to you. By using this Site and/or any of its Services, you agree to the Terms, including any modifications we make, and further waive any rights or claims you may have against SEAnalytics.</p>
    
    <h3>Privacy Statement</h3>

    <p>We are committed to protecting your privacy. Please read our Privacy Policy for full details.</p>

    <h3>Bug Bounty</h3>
    
    <p>SEAnalytics/Svboost does not offer "bug bounties," payments, or other benefits or rewards for any unsolicited security disclosures, reports, or analyses. Unauthorized vulnerability scans, and/or penetration scanning/testing is strictly prohibited and a violation of these Terms. For more information, please contact info@smartdevweb.com .</p>

    <p>Services may use YouTube's Application Interface Program (API)</p>
    
    <p>By using our Services, you are agreeing to be bound by the YouTube Terms of Service. You can review YouTube's Terms of Service here <a style="color: darkturquoise;" href="https://www.youtube.com/static?template=terms"> YouTube's Terms of Service.</a></p>
</div>
</div>

</section>

<div class="copyright text-center">
    <!-- Privacy Policy -->
    Copyright &copy; 2023 - All Rights Reserved
    <br>
    <a href="{{ url_for('main.terms_of_service') }}">Terms of Service</a> |
    <a href="{{ url_for('main.privacy_policy') }}">Privacy Policy</a>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<!--<script src="js/scripts.js"></script>-->
{% endblock %}
