{% extends "base.html" %}

{% block content %}
<!--######################## HEADER #########################-->
<header class="h-100">
    <div class="center-vertically-by-padding">

        <h1 class="text-center">Terms of Service</h1>

    </div>
</header>

<!--######################## INTRO #########################-->
<section>
    <p> Last updated: April 9th, 2021 </p>
    <p>
        Your use of and access to our services, software, websites (including browser extensions), and/or applications
        (together: “Services”) are governed by these Terms of Service (“Terms”).
        The Services may be provided to you online, in the form of a mobile and/or desktop application.
        The Services allow request and share data, information, files, or other content used by you (together: “Content”).
        You retain all rights in - and responsibility and liability for all Content.
        The Services are provided to you as the user of the Services by Smart Solutions Consulting, with its main office at
        877 Broad St. Newark, New Jersey, United States, registered at 07102.
    </p>
    <ol>
        <li>Applicability</li>
            <ol type="a">
                <li>
                    Please read the Terms carefully. By using the Services (directly with us or through a plug-in, extension,
                    or integration) you agree and accept these Terms. To the use of personal data and cookies about the Services
                    our Privacy Policy applies.
                </li>
                <li>
                    If you want to file a complaint or notice about unlawful Content being stored or shared via the Services or
                    the SmartVidBoost, please contact us at smartvidboost@gmail.com.
                </li>
                <li>
                    If you become aware of a vulnerability in any of the Services, please contact us as soon as possible at
                    smartvidboost@gmail.com.
                </li>
                <li>
                    SmartVidBoost can amend the Terms from time to time. The amended Terms will become effective upon them
                    being posted on SmartVidBoost’s website, or at such later date as may be stated on the amended Terms. Therefore,
                    we recommend that you review the Terms from time to time and take note of any changes. By continuing your use of the
                    Services you accept the amended Terms. In case of material changes to the Terms, you will be informed before the change:
                    (i) at the moment you use the Services, or (ii) by a message to the contact details you provided to us, or (iii) by a
                    posting of the notice of the change on SmartVidBoost’s website. In the event you don’t accept a change you can
                    cancel your subscription.
                </li>
                <li>
                    These Terms supersede any prior oral and written quotations, terms, communications, agreements, and understandings
                    between you and SmartVidBoost.
                </li>
            </ol>
        <li>Payment Conditions</li>
            <ol type="a">
                <li>
                    When using the paid subscription Service, the subscription term starts once the fees due have been paid in full.
                </li>
                <li>
                    We may introduce or change the fees for the Services from time to time, for which we will give you advance notice.
                    If you have a fixed term and price subscription, that price will remain in force for the fixed term. If you do not
                    agree with the price change, you must cancel your subscription and stop using the Services by the end of the then-current
                    Service term. If you continue to use the Services after the price change goes into effect, you agree to pay the changed price.
                </li>
                <li>
                    Depending on the payment method you choose, the issuer of the payment method may charge you certain fees relating to the
                    processing of your payment.
                </li>
                <li>
                    SmartVidBoost may suspend or cancel the Services to you if a payment is not successfully settled (for instance in case
                    of insufficient funds, expiration of credit cards, a change in payment details, or otherwise). Suspension or cancellation of the
                    Services for non-payment can result in a loss of access to and use of your account and your Content.
                </li>
            </ol>
        <li>Term and Cancellation of Subscription</li>
            <ol type="a">
                <li>
                    The initial subscription term varies depending on your choice and/or the Service it applies to.
                </li>
                <li>
                    The subscription period will be renewed automatically for the selected subscription period.
                </li>
                <li>
                    In case of cancellation, you will continue to have access to the Services until the end of your paid subscription period.
                </li>
                <li>
                    Cancellation does not give you any right to reimbursement of (part of) the subscription fee unless local mandatory consumer
                    law obliges you to do so.
                </li>
                <li>
                    Upon cancellation or if a payment is not successfully settled (for instance due to expiration or insufficient funds), your
                    account will be deactivated after the end of your subscription period. You will then not have access to the service(s). You
                    can reactivate your subscription at any time in your account settings by making payment within four weeks after deactivation.
                    Your subscription will then be renewed as from the day of reactivation.
                </li>
            </ol>
        <li>Content ownership, permissions, and responsibility </li>
            <ol type="a">
                <li>
                    SmartVidBoost does not claim any ownership of the Content you create, use, store or share through the Services and you are
                    solely responsible for it. By using the Services you warrant that you have, for any Content you create, use, store or share using
                    the Services, all required permissions (including from copyright and other intellectual property rights owners) to distribute,
                    sub-license, transfer, store and/or make the Content online available as part of the Services.
                </li>
                <li>
                    SmartVidBoost is not liable to you or any third party for any damages arising out of or with the Content created, used, stored,
                    or shared by you within the Services, including but not limited to, copyright-protected works and/or trademarks.
                </li>
                <li>
                    More information on the use of your data and cookies (including for performance marketing) is available in
                    our <a href="{{ url_for('main.privacy_policy') }}">Privacy Policy</a>.
                </li>
            </ol>
        <li>Violation of the Terms of Service </li>
            <ol type="a">
                <li>
                    SmartVidBoost reserves the right to investigate, provide to third parties, (temporarily) block and/or permanently delete
                    from its servers, without prior notice or liability, any accounts or to block anyone from accessing any part of the Services,
                    when SmartVidBoost ascertains, at its sole discretion or after receiving substantiated and valid complaints, that you breach
                    these Terms or act in violation of any applicable law or regulation.
                </li>
            </ol>
        <li>Intellectual property rights </li>
            <ol type="a">
                <li>
                    All intellectual property rights and/or similar rights on the Services (including the software, wallpapers, photography, graphic design,
                    typography, portraits, logos, trademarks, trade names, domain names, copyrights, and patents) are vested in SmartVidBoost and/or
                    its licensors and you are not allowed to use, remove, modify, copy, mirror, distribute, decompile, or reverse engineer any of it in any way.
                </li>
                <li>
                    SmartVidBoost is not responsible or liable for third-party content published within the Services, in-ad links to external websites, or
                    the content, products, or services offered on external websites. You acknowledge and accept that all use outside the Services is at your own risk.
                </li>
                <li>
                    You will always respect and observe the good name and reputation of SmartVidBoost and ensure that your use of the Services will in no way
                    prejudice any rights and/or the good name and reputation of SmartVidBoost and its licensors.
                </li>
            </ol>
        <li>Disclaimer and account registration </li>
            <ol type="a">
                <li>
                    SmartVidBoost provides the Services without any warranty of any kind. Without limiting the foregoing, SmartVidBoost explicitly disclaims
                    any warranties of merchantability, fitness for a particular purpose, and non-infringement. SmartVidBoost makes no warranty that the Services are
                    available on an uninterrupted, secure, or error-free basis. Your use of the Services is at your own risk. You acknowledge and agree that SmartVidBoost
                    Booster is not responsible for any damages to the computer system or mobile device of you or any third party that result from the use of the Services
                    and is not responsible for any failure of the Services to store, transfer or delete a file or for the corruption or loss of any data, information or
                    Content contained in a file.
                </li>
                <li>
                    SmartVidBoost may change, terminate or expand its Services from time to time and reserves the right to limit access to or eliminate any features
                    or functionality of the Services at its discretion.
                </li>
                <li>
                    The Services require you to register and provide us with data such as your email address, password, and/or payment details. You must ensure that these
                    are accurate and keep them updated in your account settings. You are responsible for any activity from or by your account, so you should not share your
                    password or private key and you should protect them carefully. Should registrations or account data appear to be misused, SmartVidBoost reserves
                    the right to delete the account. SmartVidBoost is not liable for any loss or damage arising from the unauthorized use of your account.
                </li>
            </ol>
        <li>Indemnity and Liability </li>
            <ol type="a">
                <li>
                    You will defend, indemnify and hold harmless SmartVidBoost (including its employees and affiliates) from and against any claims, incidents,
                    liabilities, procedures, damages, losses, and expenses (including legal and accounting fees), arising out of or in any way connected with your access
                    to or use of the Services or your breach of these Terms, including any third party claims that Content created, used, stored or shared using the Services
                    by you or through your account, infringe or violate any third party rights.
                </li>
                <li>
                    The Services may provide integration with third-party services. You acknowledge that: (i) SmartVidBoost is not responsible for any acts or omissions
                    of such third-party services; (ii) that SmartVidBoost is not an agent of such third-party services; and (iii) your use of those services is subject
                    to any applicable terms and conditions between you and the providers of such services.
                </li>
                <li>
                    SmartVidBoost is not liable for any damage or personal injury resulting from any use of the Services, including any (temporary) unavailability or
                    (accidental) removal of your Content or account. The limitation of liability referred to in this clause shall not apply if the liability for damage caused
                    by intent or gross negligence on the part of SmartVidBoost.
                </li>
            </ol>
        <li>Waiver, Severability & Assignment </li>
            <ol type="a">
                <li>
                    SmartVidBoost’s failure to enforce a provision is not a waiver of its right to do so later.
                </li>
                <li>
                    If any (part of a) provision of these Terms is or becomes invalid, illegal, or unenforceable, it shall be deemed modified to the minimum extent necessary
                    to make it valid, legal, and enforceable. If such modification is not possible, the relevant provision or part-provision shall be deemed deleted. Any modification
                    to or deletion of a provision or part-provision under this clause shall not affect the validity and enforceability of the rest of these Terms.
                </li>
                <li>
                    If any (part of a) provision of these Terms is found to be illegal, unenforceable, or otherwise invalid, then (i) the rest of the Terms will remain in full
                    force and effect to the extent permissible under or consistent with the relevant laws; and (ii) that part will be deemed to be deleted and substituted by a
                    valid one which in its economic effect comes so close to the invalid part.
                </li>
            </ol>
        <li>Applicable law and Jurisdiction </li>
            <ol type="a">
                <li>
                    These Terms and any non-contractual obligations arising out of or in connection with it will be governed by and construed and interpreted by American law. These
                    Terms will not limit any consumer protection rights that you may be entitled to under the mandatory laws of your country of residence.
                </li>
                <li>
                    Any disputes regarding these Terms will be submitted to the exclusive jurisdiction of the competent court in the United States (except American private
                    international law).
                </li>
            </ol>
        <li>Contact </li>
            <ol type="a">
                <li>
                    You can contact SmartVidBoost at smartvidboost@gmail.com. If you have any questions, just send us an email in English.
                </li>
            </ol>
    </ol>

</section>

<div class="copyright text-center">
    <!-- Privacy Policy -->
    Copyright &copy; 2021 - All Rights Reserved
    <br>
    <a href="{{ url_for('main.terms_of_service') }}">Terms of Service</a> |
    <a href="{{ url_for('main.privacy_policy') }}">Privacy Policy</a>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<!--<script src="js/scripts.js"></script>-->
{% endblock %}
